<configuration>
  <system.runtime.remoting>
    <application name="CountServer">
      <channels>
        <channel displayName="MyChannel" type="System.Runtime.Remoting.Channels.Http.HttpChannel,System.Runtime.Remoting" port="8085" />
      </channels>
      <service>
        <wellknown mode="SingleCall" type="VersionServer.Test,VersionServer,Version=2.0.0.0" objectUri="VersionServer2" />
        <wellknown mode="SingleCall" type="VersionServer.Test,VersionServer,Version=3.0.0.0" objectUri="VersionServer3" /> 
     </service>
    </application>
    <debug loadTypes="true" />
  </system.runtime.remoting>
</configuration>