<configuration>
  <system.runtime.remoting>
    <application name="ListServer">
      <channels>
        <channel displayName="MyChannel" type="System.Runtime.Remoting.Channels.Http.HttpChannel,System.Runtime.Remoting" port="8080" />
      </channels>
      <service>
        <wellknown displayName="MyService" mode="Singleton" type="ListServer.CompanyLists,ListServer" objectUri="CompanyLists" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>