<configuration>
  <system.runtime.remoting>
    <application name="CountServer">
      <channels>
        <channel displayName="MyChannel" type="System.Runtime.Remoting.Channels.Http.HttpChannel,System.Runtime.Remoting" port="8085" />
      </channels>
      <service>
        <wellknown displayName="MyService" mode="Singleton" type="CountServer.Count,CountServer" objectUri="CountServer" />
      </service>
    </application>
    <debug loadTypes="true" />
  </system.runtime.remoting>
</configuration>