<configuration>
  <system.runtime.remoting>
    <application name="RemotingHello">
      <service>
        <wellknown mode="SingleCall" type="Hello.HelloService, Hello" objectUri="HelloService.soap" />
      </service>
      <channels>
        <channel port="8000" type="System.Runtime.Remoting.Channels.Http.HttpChannel, System.Runtime.Remoting" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>