<configuration>
 <system.runtime.remoting>
  <application name="CountClient">
   <client>
    <wellknown type="CountServer.Count, CountServer" url="http://localhost:8085/CountServer"/>
   </client>
   <channels>
    <channel type="System.Runtime.Remoting.Channels.Tcp.TcpChannel,System.Runtime.Remoting" port="8011"/>
   </channels>
  </application>
 </system.runtime.remoting>
</configuration>